@model JRMail.DAL.MailMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MailMessage</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.From): @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.To): @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.CC): @Html.DisplayFor(model => model.CC)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.BCC): @Html.DisplayFor(model => model.BCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
