@model IEnumerable<JRMail.DAL.MailMessage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MailBox.MailBoxName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailMessageStatus.MailMessageStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Readed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MailBox.MailBoxName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailMessageStatus.MailMessageStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Readed)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.MailMessageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MailMessageId })
        </td>
    </tr>
}

</table>
